body {
  height: 100vh;
  margin: 0;
  font-family: 'Comic Sans MS', 'Poppins', cursive;
  background-image: url("https://i.pinimg.com/736x/16/d3/92/16d39236c4c63867be0dadb463f546ea.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: white;
  padding: 35px;
  border-radius: 25px;
  text-align: center;
  width: 92%;
  max-width: 380px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}

.cat {
  width: 160px;
  border-radius: 18px;
  margin-bottom: 18px;
}

h1 {
  font-size: 20px;
  color: #ff4d88;
  margin-bottom: 22px;
}

.small-text {
  font-size: 14px;
  color: #b30059;
  margin-top: 8px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 20px;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 16px;
  border: none;
}

.yes {
  background: #ff4d88;
  color: white;
}

.no {
  background: #ddd;
  color: #333;
  transition: transform 0.3s ease;
}

#tooltip {
  display: none;
  margin-top: 14px;
  font-size: 14px;
  color: #ff0066;
}
